body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #0f0e17;
    margin: 0px;

    flex-direction: column;
    align-items: center;
   
  }
  
  header .container img{
    height: 100px;
    
  }
  ul{
    padding: 0;
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  nav li { 
  
  font-size: 20px;
  list-style-type: none;
 }
  
  nav li a {
    color: #fffffe;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    flex-direction:row;
}
 section{ 
   display: flex;
   flex-direction: column;

   align-items: center;
   
    max-width: 790px;
    background-color: #fffffe;
    border-radius: 10px 
    ;
    margin: auto;
    margin-top: 30px;
    
    
  }

  h1{
    position: fixed;
    background-color:  #e53170;
    text-transform: uppercase;


  }
  
  h2{
    color: #ff8906;
    text-transform: uppercase;
    display: block;
    
  }
  
  footer{
    background-color: #e53170;
    color: #fffffe;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }